<% layout("/layouts/boilerplate") %>
<body>
  <!-- Carousel -->
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="Carousel/pexels-pixabay-263402_(2)[1].jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="Carousel/Untitled_design[1].png"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="Carousel/pexels-pixabay-263402_(2)[1].jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  

  <div class="data_table">
    <table  class="data_table">
        <thead>
            <tr>
                <th><strong>S.NO</strong></th>
                <th><strong>NAME OF HOSPITAL</strong></th>
                <th><strong>NAME OF MD/MS AND ADDRESS OF HOSPITAL</strong></th>
                <th><strong>CONTACT NO</strong></th>
                <th><strong>OPD's Available</strong></th>
                <th><strong>BEDs Available</strong></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td><a href="https://asbh.delhi.gov.in/" target="blank" title="Acharya Shree Bhikshu Hospital" rel="noopener noreferrer" class="external" style="font-size: 14px;">Acharya Shree Bhikshu Hospital</a></td>
                <td>
                <p>Dr. Renu Manchanda, MS, ASBH</p>
    
                <p>Moti Nagar New Delhi-110015</p>
                </td>
                <td>011-25423011</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr class="even">
                <td>2</td>
                <td><a href="https://anh.delhi.gov.in/" title="Ambedkar Nagar Hospital" class="external" target="blank" style="font-size: 14px;">Ambedkar Nagar Hospital</a></td>
                <td>
                <p>Dr. Arun Banerjee, MS, ANH</p>
    
                <p>Block-B, Sector-5, Dakshinpuri, New Delhi--110062</p>
                </td>
                <td>011-26052014</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>3</td>
                <td><a href="https://aaagh.delhi.gov.in/" target="blank" rel="noopener noreferrer" class="external" style="font-size: 14px;">Aruna Asaf Ali Govt. Hospital</a></td>
                <td>
                <p>Dr. Sunita Meena, MS, AAAGH</p>
    
                <p>5-Rajpur Road, Delhi-110054</p>
                </td>
                <td>
                <p>011-23965532, 23964910</p>
                </td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr class="even">
                <td>4</td>
                <td><a href="https://asjeh.delhi.gov.in/" class="external" target="blank" style="font-size: 14px;">Attar Sain Jain Hospital</a></td>
                <td>
                <p>Dr. Vatsala Aggarwal, MS, ASJH</p>
    
                <p>Community Centre, Keshavpuram Industrial Area, Lawrence Road, New Delhi-110035</p>
                </td>
                <td>
                <p>27188342, 27153357, 27182707, 27188342, Fax: 27106441</p>
                </td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>5</td>
                <td><a href="https://autch.delhi.gov.in" target="blank" rel="noopener noreferrer" class="external" style="font-size: 14px;">Ayurvedic &amp; Unani Tibbia College &amp; Hospital</a></td>
                <td>
                <p>Dr. Brender Sharma, Director&nbsp;AUTCH</p>
    
                <p>Ajmal Khan Park, Karol Bagh, New Delhi-05</p>
                </td>
                <td>011-23524180</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr class="even">
                <td>6</td>
                <td><a href="https://bjrmh.delhi.gov.in/" target="blank" title="Babu Jagjivan Ram Hospital" rel="noopener noreferrer" class="external" style="font-size: 14px;">Babu Jagjivan Ram Memorial Hospital</a></td>
                <td>
                <p>Dr. Digbijoy Dutta, MS, BJRH</p>
    
                <p>Jahangirpuri, New Delhi-110033</p>
                </td>
                <td>011-27631810</td>
                <td>0</td>
                <td>0</td>
                
            </tr>
            <tr>
                <td>7</td>
                <td><a href="https://bmh.delhi.gov.in/" class="external" target="blank" style="font-size: 14px;">Bhagwan Mahavir Hospital</a></td>
                <td>
                <p>Dr. Rajiv Kumar Gupta, MS, BMH</p>
    
                <p>H-4/5, Pitampura, Delhi-110034</p>
                </td>
                <td>011-27034535</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr class="even">
                <td>8</td>
                <td><a href="https://shmch.delhi.gov.in/en" class="external" target="blank" style="font-size: 14px;">B R Sur Homeopathic Medical College &amp; Hospital</a></td>
                <td>
                <p>Prof. (Dr.) Neeraj Gupta, MS, BRSHMCH</p>
    
                <p>Nanakpura, Moti Bagh, Delhi-110021</p>
                </td>
                <td>011-24105298, 24105299</td>

                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>9</td>
                <td><a href="https://burari.delhi.gov.in/" title="Burari Hospital" class="external" target="blank" style="font-size: 14px;">Burari Hospital</a></td>
                <td>
                <p>Dr. Ashish Goyal, MD, BH</p>
    
                <p>Kaushik Enclave, Burari, Delhi-110084</p>
                </td>
                <td>011-20874505, 20874501</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr class="even">
                <td>10</td>
                <td><a href="https://dduh.delhi.gov.in/en" target="blank" rel="noopener noreferrer" class="external" style="font-size: 14px;">Deen Dayal Upadhyay Hospital</a></td>
                <td>
                <p>Prof. (Dr.) B.L. Chaudhary, MD, DDUH</p>
    
                <p>Hari Nagar, New Delhi-110064</p>
                </td>
                <td>011-25494402-08, Casualty : 25494336, 25492463</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>11</td>
                <td><a href="http://dcbh.delhi.gov.in/" target="blank" rel="noopener noreferrer" class="external" style="font-size: 14px;">Deep Chand Bandhu Hospital</a></td>
                <td>
                <p>Dr. Vatsala Aggarwal, MS, DCBH</p>
    
                <p>Kokiwala Bagh, Phase IV, Near Bharat Nagar Police Station, Ashok Vihar, New Delhi-110052</p>
                </td>
                <td>011-27305953</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr class="even">
                <td>12</td>
                <td><a href="https://bsah.delhi.gov.in/" title="Dr. Baba Saheb Ambedkar Hospital" class="external" target="blank" style="font-size: 14px;">Dr. Baba Saheb Ambedkar Hospital</a></td>
                <td>
                <p>Dr. Digbijoy Dutta, MS, BSAH</p>
    
                <p>Sector 6, Rohini, New Delhi.-110085</p>
                </td>
                <td>011-27055585</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>13</td>
                <td><a href="https://dhas.delhi.gov.in" target="blank" rel="noopener noreferrer" class="external" style="font-size: 14px;">Dr. Hedgewar Arogya Sansthan</a></td>
                <td>
                <p>Dr. A.M. Rathore, MS, DHAS</p>
    
                <p>F-18, Karkardooma, Delhi-110032</p>
                </td>
                <td>
                <p>011-20822313, 20822305</p>
                </td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr  class="even">
                <td>14</td>
                <td><a href="https://ncjmh.delhi.gov.in/" title="Dr. N.C. Joshi Memorial Hospital" class="external" target="blank" style="font-size: 14px;">Dr. N.C. Joshi Memorial Hospital</a></td>
                <td>
                <p>Dr. Kulbhushan Goyal, MS, NCJMH</p>
    
                <p>Karol Bagh New Delhi-110005</p>
                </td>
                <td>
                <p>011-23611786, Fax: 23523677</p>
                </td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>15</td>
                <td><a href="https://gbpant.delhi.gov.in/" class="external" target="blank" style="font-size: 14px;">G.B.&nbsp;Pant Hospital (GIPMER)</a></td>
                <td>
                <p>Dr. Anil Aggarwal, MD, GBPH</p>
    
                <p>Jawahar Lal Nehru Marg,Delhi.-110002</p>
                </td>
                <td>
                <p>011-23238109, Fax: 23239442</p>
                </td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr class="even">
                <td>16</td>
                <td><a href="https://ggsgh.delhi.gov.in" class="external" target="blank" style="font-size: 14px;">Guru Govind Singh Govt. Hospital</a></td>
                <td>
                <p>Dr. Rajiv Kumar Gupta, MS, GGSGH</p>
    
                <p>Raghubir Nagar New Delhi-110027</p>
                </td>
                <td>
                <p>011-25984549, 25988532</p>
                </td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>17</td>
                <td><a href="https://gnec.delhi.gov.in/" target="blank" rel="noopener noreferrer" class="external" style="font-size: 14px;">Guru Nanak Eye Center</a></td>
                <td>
                <p>Dr. Kirti Singh, Director, GNCE</p>
    
                <p>Maharaja Ranjit Singh Marg, New Delhi-2</p>
                </td>
                <td>011-23236931, 23234622, 23235145</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr class="even">
                <td>18</td>
                <td><a href="https://gtbh.delhi.gov.in" class="external" target="blank" style="font-size: 14px;">Guru Teg Bahadur Hospital (GTBH)</a></td>
                <td>
                <p>Dr. Asmita M Rathore, MD, GTBH</p>
    
                <p>Dilshad Garden,&nbsp;Delhi-110095</p>
                </td>
                <td>
                <p>011-22586262, Casualty:22588383</p>
                </td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr >
                <td>19</td>
                <td><a href="https://igh.delhi.gov.in/" title="Indira Gandhi Hospital" class="external" target="blank" style="font-size: 14px;">Indira Gandhi Hospital</a></td>
                <td>
                <p>Prof. (Dr.) Ishwar Singh, MD, IGH</p>
    
                <p>Sector 9, Dwarka, New Delhi-110077</p>
                </td>
                <td>
                <p>011-20895995, 20895983</p>
                </td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr class="even">
                <td>20</td>
                <td><a href="https://jpch.delhi.gov.in/" title="Jag Pravesh Chandra Hospital" class="external" target="blank" style="font-size: 14px;">Jag Pravesh Chandra Hospital</a></td>
                <td>
                <p>Dr. Ritu Chawla, MS, JPCH</p>
    
                <p>Shastri Park, Delhi-110053</p>
                </td>
                <td>011-22184453</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>21</td>
                <td><a href="https://lbsh.delhi.gov.in" target="blank" title="LBSH" rel="noopener noreferrer" class="external" style="font-size: 14px;">Lal Bahadur Shastri Hospital</a></td>
                <td>
                <p>Dr. Suresh Kumar, MD, LBSH</p>
    
                <p>Khichripur New Delhi-110091</p>
                </td>
                <td>011-22774145</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr class="even">
                <td>22</td>
                <td><a href="https://lnjp.delhi.gov.in/" class="external" target="blank" style="font-size: 14px;">Lok Nayak Hospital</a></td>
                <td>
                <p>Dr. Suresh Kumar, MD, LNH</p>
    
                <p>Jawahar Lal Nehru Marg, Delhi Gate, New Delhi-110002</p>
                </td>
                <td>011-23236000</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr >
                <td>23</td>
                <td><a href="https://mvh.delhi.gov.in" target="blank" rel="noopener noreferrer" class="external" style="font-size: 14px;">Maharishi Valmiki Hospital</a></td>
                <td>
                <p>Dr. S.K. Kaakran, MS, MVH</p>
    
                <p>Pooth Khurd, New Delhi-110039</p>
                </td>
                <td>
                <p>011-27761521, 27761523</p>
                </td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr class="even">
                <td>24</td>
                <td><a href="https://nhmc.delhi.gov.in" target="blank" rel="noopener noreferrer" class="external" style="font-size: 14px;">Nehru Homeopathic Medical College and Hospital</a></td>
                <td>
                <p>Dr. Seema Rai, Principal, NHMC</p>
    
                <p>B-Block, Defence Colony, New Delhi-24</p>
                </td>
                <td>
                <p>011-24334225, Fax: 24330803</p>
                </td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>25</td>
                <td>Pt. Madan Mohan Malviya Hospital</td>
                <td>
                <p>Dr. Anjum Bhotia, MS, PMMMH</p>
    
                <p>Malviya Nagar, Delhi-110017</p>
                </td>
                <td>
                <p>011-26672468, 26689999 Fax:26676416</p>
                </td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr class="even">
                <td>26</td>
                <td><a href="https://rtrmh.delhi.gov.in" class="external" target="blank" style="font-size: 14px;">Rao Tula Ram Memorial Hospital</a></td>
                <td>
                <p>Dr. Amitabh Bhasin, MS, RTRMH</p>
    
                <p>Jaffarpur, New Delhi-110073</p>
                </td>
                <td>
                <p>011-20895186, 20895171</p>
                </td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr >
                <td>27</td>
                <td><a href="https://svbph.delhi.gov.in" target="blank" rel="noopener noreferrer" class="external" style="font-size: 14px;">Sardar Vallabh Bhai Patel Hospital</a></td>
                <td>
                <p>Dr. Sundeep Miglani, MS, SVBPH</p>
    
                <p>East Patel Nagar New Delhi-110008</p>
                </td>
                <td>011-20838218</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr class="even">
                <td>28</td>
                <td><a href="https://srhch.delhi.gov.in/" class="external" target="blank" style="font-size: 14px;">Satyawadi Raja Harish Chandra Hospital</a></td>
                <td>
                <p>Dr. Sushil Kumar, MS, SRHCH</p>
    
                <p>Plot No.30, Sector 7A, Narela, Delhi-110040</p>
                </td>
                <td>011-20872602</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>29</td>
                <td><a href="https://sgmh.delhi.gov.in" target="blank" rel="noopener noreferrer" class="external" style="font-size: 14px;">Sanjay Gandhi Memorial Hospital</a></td>
                <td>
                <p>Dr. S.K. Arora, MS, SGMH</p>
    
                <p>S-Block, Mangolpuri, Delhi-110083</p>
                </td>
                <td>011-20873051</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr class="even">
                <td>30</td>
                <td><a href="https://dadadevhospital.delhi.gov.in/" title="Shri Dada Dev Matri Avum Shishu Chikitsalaya" class="external" target="blank" style="font-size: 14px;">Shri Dada Dev Matri Avum Shishu Chikitsalaya</a></td>
                <td>
                <p>Dr. Babita Mittal, MS, SDDMASC</p>
    
                <p>Dabri,&nbsp;New Delhi-110045</p>
                </td>
                <td>011-25395536</td>
                <td>0</td>
                <td>0</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="row row-cols-3 row-cols-lg-5 g-2 g-lg-4 cards">
  <div class="col">
      <a href="https://www.apollohospitals.com/book-doctor-appointment/cardiologist/?utm_campaign=cardiologist&amp;utm_source=home&amp;utm_medium=specialities" class="pg_widget" id="COE_Cardiology">
          <img src="https://www.apollohospitals.com/wp-content/themes/apollohospitals/assets-v3/images/cardiology_icon.svg" alt="icon">
          <h5>Cardiology</h5>
      </a>
  </div>

  <div class="col">
      <a href="https://www.apollohospitals.com/book-doctor-appointment/neurologist/?utm_campaign=neurologist&amp;utm_source=home&amp;utm_medium=specialities" class="pg_widget" id="COE_Neurology">
          <img src="https://www.apollohospitals.com/wp-content/themes/apollohospitals/assets-v3/images/neurology.svg" alt="icon">
          <h5>Neurology</h5>
      </a>
  </div>

   <div class="col">
      <a href="https://www.apollohospitals.com/book-doctor-appointment/gastroenterologist/?utm_campaign=gastroenterologist&amp;utm_source=home&amp;utm_medium=specialities" class="pg_widget" id="COE_Gastroenterology">
          <img src="https://www.apollohospitals.com/wp-content/themes/apollohospitals/assets-v3/images/gastroenterology.svg" alt="icon">
          <h5>Gastroenterology</h5>
      </a>
  </div>
  <div class="col">
      <a href="https://www.apollohospitals.com/book-doctor-appointment/orthopedician/?utm_campaign=orthopedician&amp;utm_source=home&amp;utm_medium=specialities" class="pg_widget" id="COE_Orthopaedic">
          <img src="https://www.apollohospitals.com/wp-content/themes/apollohospitals/assets-v3/images/orthopaedic.svg" alt="icon">
          <h5>Orthopedic</h5>
      </a>
  </div>

  <div class="col">
      <a href="https://www.apollohospitals.com/book-doctor-appointment/oncologist/?utm_campaign=oncologist&amp;utm_source=home&amp;utm_medium=specialities" class="pg_widget" id="COE_Oncology">
          <img src="https://www.apollohospitals.com/wp-content/themes/apollohospitals/assets-v3/images/oncology_icon.svg" alt="icon">
          <h5>Oncology</h5>
      </a>
  </div>



 

  <div class="col">
      <a href="https://www.apollohospitals.com/book-doctor-appointment/gynecologist/?utm_campaign=gynecologist&amp;utm_source=home&amp;utm_medium=specialities" class="pg_widget" id="COE_Gynecology">
          <img src="https://www.apollohospitals.com/wp-content/themes/apollohospitals/assets-v3/images/gynecology.svg" alt="icon">
          <h5>Gynecology</h5>
      </a>
  </div>

  <div class="col">
      <a href="https://www.apollohospitals.com/book-doctor-appointment/dermatologist/?utm_campaign=dermatologist&amp;utm_source=home&amp;utm_medium=specialities" class="pg_widget" id="COE_Dermatology">
          <img src="https://www.apollohospitals.com/wp-content/themes/apollohospitals/assets-v3/images/dermatology.svg" alt="icon">
          <h5>Dermatology</h5>
      </a>
  </div>

  <div class="col">
      <a href="https://www.apollohospitals.com/book-doctor-appointment/opthalmologist/?utm_campaign=opthalmologist&amp;utm_source=home&amp;utm_medium=specialities" class="pg_widget" id="COE_Ophthalmology">
          <img src="https://www.apollohospitals.com/wp-content/themes/apollohospitals/assets-v3/images/ophthalmology.svg" alt="icon">
          <h5>Ophthalmology</h5>
      </a>
  </div>

  <div class="col">
      <a href="https://www.apollohospitals.com/book-doctor-appointment/pediatrician/?utm_campaign=pediatrician&amp;utm_source=home&amp;utm_medium=specialities" class="pg_widget" id="COE_Pediatrics">
          <img src="https://www.apollohospitals.com/wp-content/themes/apollohospitals/assets-v3/images/paediatricurology.svg" alt="icon">
          <h5>Pediatrics</h5>
      </a>
  </div>

  <div class="col">
      <a href="https://www.apollohospitals.com/book-doctor-appointment/endocrinologist/?utm_campaign=endocrinologist&amp;utm_source=home&amp;utm_medium=specialities" class="pg_widget" id="COE_Endocrinology">
          <img src="https://www.apollohospitals.com/wp-content/themes/apollohospitals/assets-v3/images/endocrinology.svg" alt="icon">
          <h5>Endocrinology</h5>
      </a>
  </div>

  
  <div class="col">
      <a href="https://www.apollohospitals.com/book-doctor-appointment/urologist/?utm_campaign=urologist&amp;utm_source=home&amp;utm_medium=specialities" class="pg_widget" id="COE_Urology">
          <img src="https://www.apollohospitals.com/wp-content/themes/apollohospitals/assets-v3/images/urology.svg" alt="icon">
          <h5>Urology</h5>
      </a>
  </div>

  <div class="col">
      <a href="https://www.apollohospitals.com/book-doctor-appointment/nephrologist/?utm_campaign=nephrologist&amp;utm_source=home&amp;utm_medium=specialities" class="pg_widget" id="COE_Nephrology">
          <img src="https://www.apollohospitals.com/wp-content/themes/apollohospitals/assets-v3/images/nephrology.svg" alt="icon">
          <h5>Nephrology</h5>
      </a>
  </div>

  <div class="col">
      <a href="https://www.apollohospitals.com/book-doctor-appointment/pulmonologist/?utm_campaign=pulmonologist&amp;utm_source=home&amp;utm_medium=specialities" class="pg_widget" id="COE_Pulmonology">
          <img src="https://www.apollohospitals.com/wp-content/themes/apollohospitals/assets-v3/images/pulmonology.svg" alt="icon">
          <h5>Pulmonology</h5>
      </a>
  </div>

  <div class="col">
      <a href="https://www.apollohospitals.com/book-doctor-appointment/rheumatologist/?utm_campaign=rheumatologist&amp;utm_source=home&amp;utm_medium=specialities" class="pg_widget" id="COE_Rheumatology">
          <img src="https://www.apollohospitals.com/wp-content/themes/apollohospitals/assets-v3/images/rheumatology.svg" alt="icon">
          <h5>Rheumatology</h5>
      </a>
  </div>

  <div class="col">
      <a href="https://www.apollohospitals.com/book-doctor-appointment/neurosurgeon/?utm_campaign=neurosurgeon&amp;utm_source=home&amp;utm_medium=specialities" class="pg_widget" id="COE_Neurosurgery">
          <img src="https://www.apollohospitals.com/wp-content/themes/apollohospitals/assets-v3/images/neurology.svg" alt="icon">
          <h5>Neurosurgery</h5>
      </a>
  </div>

  <div class="col">
      <a href="https://www.apollohospitals.com/book-doctor-appointment/radiologist/?utm_campaign=radiologist&amp;utm_source=home&amp;utm_medium=specialities" class="pg_widget" id="COE_Radiology">
          <img src="https://www.apollohospitals.com/wp-content/themes/apollohospitals/assets-v3/images/radiology.svg" alt="icon">
          <h5>Radiology</h5>
      </a>
  </div>


  <div class="col">
      <a href="https://www.apollohospitals.com/book-doctor-appointment/plastic-surgeon/?utm_campaign=plastic-surgeon&amp;utm_source=home&amp;utm_medium=specialities" class="pg_widget" id="COE_Plasticsurgery">
          <img src="https://www.apollohospitals.com/wp-content/themes/apollohospitals/assets-v3/images/plasticsurgery.svg" alt="icon">
          <h5>Plastic surgery</h5>
      </a>
  </div>

  <div class="col">
      <a href="https://www.apollohospitals.com/book-doctor-appointment/neonatologist/?utm_campaign=neonatologist&amp;utm_source=home&amp;utm_medium=specialities" class="pg_widget" id="COE_Neonatology">
          <img src="https://www.apollohospitals.com/wp-content/themes/apollohospitals/assets-v3/images/neonatology.svg" alt="icon">
          <h5>Neonatology</h5>
      </a>
  </div>

  <div class="col">
      <a href="https://www.apollohospitals.com/book-doctor-appointment/vascular-surgeon/?utm_campaign=vascular-surgeon&amp;utm_source=home&amp;utm_medium=specialities" class="pg_widget" id="COE_VascularSurgery">
          <img src="https://www.apollohospitals.com/wp-content/themes/apollohospitals/assets-v3/images/vascularsurgery.svg" alt="icon">
          <h5>Vascular Surgery</h5>
      </a>
  </div>

  <div class="col">
      <a href="https://www.apollohospitals.com/book-doctor-appointment/psychiatrist/?utm_campaign=psychiatrist&amp;utm_source=home&amp;utm_medium=specialities" class="pg_widget" id="COE_Psychiatry">
          <img src="https://www.apollohospitals.com/wp-content/themes/apollohospitals/assets-v3/images/psychiatry.svg" alt="icon">
          <h5>Psychiatry</h5>
      </a>
  </div>

  <div class="col">
      <a href="https://www.apollohospitals.com/book-doctor-appointment/dentist/?utm_campaign=dentist&amp;utm_source=home&amp;utm_medium=specialities" class="pg_widget" id="COE_Dentistry">
          <img src="https://www.apollohospitals.com/wp-content/themes/apollohospitals/assets-v3/images/dentistry.svg" alt="icon">
          <h5>Dentistry</h5>
      </a>
  </div>

  <div class="col">
      <a href="https://www.apollohospitals.com/book-doctor-appointment/ent-specialist/?utm_campaign=ent-specialist&amp;utm_source=home&amp;utm_medium=specialities" class="pg_widget" id="COE_ENT">
          <img src="https://www.apollohospitals.com/wp-content/themes/apollohospitals/assets-v3/images/ent.svg" alt="icon">
          <h5>ENT (Ear, Nose, Throat)</h5>
      </a>
  </div>
</div>


  <section class="top-widgets">
    <div id="map">
      <div id="nearest-hospital-info">
        <h2>Nearest Hospital Information</h2>
        <p id="hospital-name">Hospital: Not Available</p>
        <p id="hospital-distance">Distance: N/A</p>
      </div>
    </div>
    
    <div class="clear-fix"></div>
  </section>
  <button class="fixed-button">Assistant</button>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"
  ></script>
</body>
