<% layout("/layouts/boilerplate.ejs") %>

<div class="best_doctors">
    <h1>Best Cardiologist in Delhi</h1>
    <div class="doctor_list">
        <div class="doctor1">
            <div class="doctor_info">
                <img src="https://media.istockphoto.com/id/1292015214/photo/portrait-female-doctor-stock-photo.webp?a=1&b=1&s=612x612&w=0&k=20&c=_aAgj9DyOGjHbF12Qmy74PaSJoV7iD61yZ9cKgBW_wc=" alt="sorry">
                <h3>Dr. Chitra sharma</h3>
            </div>
            <div class="doctor_place">
                Shri Ganga Ram Hospital
            </div>
            <div class="doctor_booking">
                <button>
                    BOOK APPOINTMENT
                </button>
            </div>
        </div>
        <div class="doctor1">
            <div class="doctor_info">
                <img src="https://media.istockphoto.com/id/1212177444/photo/happy-male-doctor-of-indian-ethnicity.webp?a=1&b=1&s=612x612&w=0&k=20&c=wei1lQG1DR-Ch5unRW0mNlE2Ajh5lNrTTHPr1iSZjKw=">
                <h3>Dr. Kushal Madan</h3>
            </div>
            <div class="doctor_place">
                Shri Ganga Ram Hospital
            </div>
            <div class="doctor_booking">
                <button>
                    BOOK APPOINTMENT
                </button>
            </div>
        </div>
        <div class="doctor1">
            <div class="doctor_info">
                <img src="https://media.istockphoto.com/id/515908499/photo/indian-doctor.webp?a=1&b=1&s=612x612&w=0&k=20&c=w40pEo9CDS8zfNNQiephaS6JmtvaWpnIFS4u2wHFmL4=">
                <h3>Dr. Sunil Jain</h3>
            </div>
            <div class="doctor_place">
                Shri Ganga Ram Hospital
            </div>
            <div class="doctor_booking">
                <button>
                    BOOK APPOINTMENT
                </button>
            </div>
        </div>
        <div class="doctor1">
            <div class="doctor_info">
                <img src="https://media.istockphoto.com/id/1742056601/photo/photo-of-doctor-lady-smile-looking-at-camera-wear-stethoscope-white-uniform-isolate-white.webp?a=1&b=1&s=612x612&w=0&k=20&c=6tSsfAtvqv0ILvha9EbjDhlHA9LZ79qfdUZUgtYzpRA=">
                <h3>Dr. Kamna Lokwani</h3>
            </div>
            <div class="doctor_place">
                Shri Ganga Ram Hospital
            </div>
            <div class="doctor_booking">
                <button>
                    BOOK APPOINTMENT
                </button>
            </div>
        </div>
    </div>
</div>